body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.change-color{
    color: crimson;
}
h1{
    font: 40px;
    font-weight: 800;
}
.first-section{
    display: flex;
    margin-bottom: 0px;
}
.half-width{
    width: 50%;
    padding: 50px;
}
.half-width img{
    width: 70%;
    padding-left: 30px;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(crimson, tomato);
}
.first-background{
    background-image: url(images/bg-first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.background{
    background-image: url(images/bg-second.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.my-recipies{
    text-align: center;  
}
.display-recipe{
    display: block;
    width: 350px;
    margin-left: 40px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(219, 228, 225);
    border-radius: 20px;
}
.third-width{
    display: flex;
    width: 100%;
}
.third-width img{
    width: 100%;
}
.last-section{
    display: flex;
    box-shadow: 5px 5px 5px 5px rgb(219, 228, 225);
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}
.subscribers{
    text-align: center;
    margin-left: 190px;
}
.comment-box{
    box-sizing: border-box;
}
.image-shape{
    border-radius: 20px;
}
.comment-box{
    box-shadow: silver;
    position: absolute;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 25px;
}